@model Webadmin.Requests.CreateAdminRequest;

@{
    ViewData["Title"] = "Create";
}
<div class="borderBody">
    <div class="titleMargin">
        <h1>Create</h1>
        <div class="shareLine">
            <h4>Admins</h4>
            <a asp-controller="Home" asp-action="Index" class="btn bntSmall">Back</a>
        </div>
        <hr />
    </div>
    <div class="row" style="margin-left: 100px">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdminUsername" class="control-label"><b>Admin Username</b></label>
                    <input asp-for="AdminUsername" class="form-control" />
                    <span asp-validation-for="AdminUsername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminPassword" class="control-label"><b>Admin Password</b></label>
                    <input asp-for="AdminPassword" class="form-control" />
                    <span asp-validation-for="AdminPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn bntSmall" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}