@model Webadmin.Requests.EditAdminRequest

@{
    ViewData["Title"] = "Edit";
    int adminId = ViewBag.adminId;
}
<div class="borderBody">
    <br />
    <div class="titleMargin">
        <h1>Edit</h1>
        <div class="shareLine">
            <h4>Admins</h4>
            <a asp-action="Details" asp-route-id="@adminId" class="btn bntSmall">Back</a>
        </div>
        <hr />
    </div>
    <div class="row" style="margin-left: 100px">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdminUsername" class="control-label"></label>
                    <input asp-for="AdminUsername" class="form-control" />
                    <span asp-validation-for="AdminUsername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdminPassword" class="control-label"></label>
                    <input asp-for="AdminPassword" class="form-control" />
                    <span asp-validation-for="AdminPassword" class="text-danger"></span>
                </div>
                <div>
                    <input value="@adminId" name="adminId" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn bntSmall" />
                </div>
            </form>
            <br /><br /><br /><br />
        </div>
    </div>
</div>

