@model Webadmin.Requests.LoginRequest;

@{
    ViewData["Title"] = "Index";
}

<div class="borderBody">
    <div class="titleMargin">
        <h1>Login</h1>
        <div class="shareLine">
            <h4>Admin</h4>
            <a asp-controller="Home" asp-action="Index" class="btn bntSmall">Back</a>
        </div>
        <hr />
    </div>

    <div class="row" style="margin-left:100px">
        <div class="col-md-4">
            <form asp-action="LoginAdmin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"><b>Username</b></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"><b>Password</b></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn bntSmall" />
                </div>
            </form>
            <br /><hr /><br />
            <form asp-action="LoginStaff">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="staff-id" class="control-label"><b>Staff ID:</b></label>
                    <input id="staff-id" name="staffId" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn bntSmall" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}