@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <img src="~/Resource/New-Hero-Image.PNG" class="img-fluid" style="width: 1100px;" />
    <br />

    <img src="~/Resource/Image-WEB.PNG" class="img-fluid" style="width: 1100px;" />
    <br />
    <br />
    <img src="~/Resource/Image-Phone.PNG" class="img-fluid" style="width: 1100px;" />
</div>
