@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clean Table</h1>
    <p class="lead">You may be a restaurant owner, a pub owner or more affected by COVID-19. We're here to help!</p>
    <div class="container">
            <div class="row">
                <div class="col col-md-4">
                    <p>Save customer contact details and send them to Track And Trace in just a few easy clicks</p>
                    <p style="font-size: 0.9rem;font-style: italic;"><img class="img-fluid rounded" style="display: block;" src="https://live.staticflickr.com/4582/37930274565_8866e33414_b.jpg" alt="Data Table"><a href="https://www.flickr.com/photos/98705603@N06/37930274565">"Data Table"</a><span> by <a href="https://www.flickr.com/photos/98705603@N06">UBC News</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC 2.0</a><a href="https://creativecommons.org/licenses/by-nc/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg?image_id=df4e09cd-ce73-406b-95fe-d5881e7ff620" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" /></a></p>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col col-md-4">
                    <p>Track each of your venues from one simple menu</p>
                    <p style="font-size: 0.9rem;font-style: italic;"><img class="img-fluid rounded" style="display: block;" src="https://live.staticflickr.com/5274/14377348967_51e0b5e77d_b.jpg" alt="cleaning tables"><a href="https://www.flickr.com/photos/8868875@N03/14377348967">"cleaning tables"</a><span> by <a href="https://www.flickr.com/photos/8868875@N03">gato-gato-gato</a></span> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-NC-ND 2.0</a><a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg?image_id=dda656ed-b9d8-4c80-88b7-13078bc8cd26" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nd_icon.svg" /></a></p>
                </div>
            </div>
            <div>
                <button class="button startBtn">Get Started</button>
            </div>
    </div>
</div>
