@model Webadmin.Requests.CreateVenueRequest

@{
    ViewData["Title"] = "Create";
}
<div class="borderBody">
    <div class="titleMargin">
        <h1>Create</h1>
        <div class="shareLine">
            <h4>Venues</h4>
            <a asp-action="Index" class="btn bntSmall">Back</a>
        </div>
        <hr />
    </div>
    <div class="row" style="margin-left: 100px">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VenueName" class="control-label">Venue Name</label>
                    <input asp-for="VenueName" class="form-control" />
                    <span asp-validation-for="VenueName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VenuePostcode" class="control-label">Postcode</label>
                    <input asp-for="VenuePostcode" class="form-control" />
                    <span asp-validation-for="VenuePostcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VenueAddLineOne" class="control-label">Address Line One</label>
                    <input asp-for="VenueAddLineOne" class="form-control" />
                    <span asp-validation-for="VenueAddLineOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VenueAddLineTwo" class="control-label">Address Line Two</label>
                    <input asp-for="VenueAddLineTwo" class="form-control" />
                    <span asp-validation-for="VenueAddLineTwo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VenueCity" class="control-label">City</label>
                    <input asp-for="VenueCity" class="form-control" />
                    <span asp-validation-for="VenueCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VenueCounty" class="control-label">County</label>
                    <input asp-for="VenueCounty" class="form-control" />
                    <span asp-validation-for="VenueCounty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn bntSmall" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
