@model Webadmin.Requests.ExportRequest

@{
    ViewData["Title"] = "Export";
    int venueId = ViewBag.venueId;
}

<h1>Export</h1>

<h4>Venues</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Export">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExportFrom" class="control-label">Export From</label>
                <input asp-for="ExportFrom" class="form-control" />
                <span asp-validation-for="ExportFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExportTo" class="control-label">Export To</label>
                <input asp-for="ExportTo" class="form-control" />
                <span asp-validation-for="ExportTo" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <input value="@venueId" name="venueId" type="hidden">
            </div>
            <div class="form-group">
                <input type="submit" value="Export" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}