@model IEnumerable<Webadmin.Models.Venues>

@{
    ViewData["Title"] = "Index";
}
<div class="shareLine">
    <h1>Index</h1>
    <a asp-action="Create" class="btn bntSmall" style="float: right">Create New</a>
</div>

<table class="table">
        <thead>
            <tr>
                <th>
                    Venue Name
                </th>
                <th>
                    Postcode
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenuePostcode)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.VenueId" class="btn bntSmall">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
