@model Webadmin.Models.Customers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerContactNumber" class="control-label"></label>
                <input asp-for="CustomerContactNumber" class="form-control" />
                <span asp-validation-for="CustomerContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerUsername" class="control-label"></label>
                <input asp-for="CustomerUsername" class="form-control" />
                <span asp-validation-for="CustomerUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPassword" class="control-label"></label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

