@model Webadmin.Models.Staff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Staff Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            Contact Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffContactNum)
        </dd>
        <dt class = "col-sm-2">
            Position
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPosition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
