@model Webadmin.Models.Flags

@{
    ViewData["Title"] = "FlagForm";
}
<div class="borderBody">
    <div class="titleMargin">
        <h1>Flag Form</h1>
        <div class="shareLine">
            <h4>Flags</h4>
            <a asp-controller="Home" asp-action="Index" class="btn bntSmall">Home</a>
        </div>
        <hr />
    </div>
    <div class="row" style="margin-left:100px">
        <div class="col-md-4">
            <form asp-controller="Flags" asp-action="CreateFlag">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FlagTitle" class="control-label"></label>
                    <input asp-for="FlagTitle" class="form-control" required />
                    <span asp-validation-for="FlagTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlagLocationPage" class="control-label"></label>
                    <input asp-for="FlagLocationPage" class="form-control" required />
                    <span asp-validation-for="FlagLocationPage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlagCategory" class="control-label"></label>
                    <input asp-for="FlagCategory" class="form-control" required />
                    <span asp-validation-for="FlagCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Is this issue Persistent</label><br />
                    <input type="checkbox" id="flagYes" value="Yes" />
                    <label for="flagYes"> Yes</label>
                </div>
                <div class="form-group">
                    <label asp-for="FlagUrgency" class="control-label"></label>
                    <input asp-for="FlagUrgency" class="form-control" required />
                    <span asp-validation-for="FlagUrgency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlagDesc" class="control-label"></label>
                    <input asp-for="FlagDesc" class="form-control" required />
                    <span asp-validation-for="FlagDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlagVenueId" class="control-label"></label>
                    <input asp-for="FlagVenueId" class="form-control" required />
                    <span asp-validation-for="FlagVenueId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FlagDate" class="control-label"></label>
                    <input asp-for="FlagDate" class="form-control" required />
                    <span asp-validation-for="FlagDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Is this issue Resolved</label><br />
                    <input type="checkbox" id="flagRYes" value="Yes" />
                    <label for="flagRYes"> Yes</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn bntSmall" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
