@model Webadmin.Models.VenueTables

@{
    ViewData["Title"] = "Create";
    int venueId = ViewBag.venueId;
}

<h1>Create</h1>

<h4>VenueTables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VenueTableNum" class="control-label"></label>
                <input asp-for="VenueTableNum" class="form-control" />
                <span asp-validation-for="VenueTableNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueTableCapacity" class="control-label"></label>
                <input asp-for="VenueTableCapacity" class="form-control" />
                <span asp-validation-for="VenueTableCapacity" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <input value="@venueId" name="venueId" type="hidden">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-venueId="@venueId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
